<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Department of Statistics Population Census Heatmap</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app">
    <div class="theme-container">
      <label class="theme-label">Selected theme</label>
      <v-select class="theme-control"
        v-model="selectedTheme"
        :options="themes"
        multiple
        placeholder="Pick one or two themes to display">
      </v-select>
    </div>
    <div class="map-container" ref="map"></div>
    <v-slider class="year-control"
      v-model="selectedYear"
      :data="years"
      lazy
      piecewise-label
      :tooltip="false"
      :speed="0.1"
      width="90%"
      height="8">
    </v-slider>
    <v-slider class="blend-control"
      v-model="blend"
      min="0"
      max="1"
      interval="0.01"
      :disabled="!theme2"
      direction="vertical"
      reverse
      :tooltip="false"
      :speed="0"
      width="8"
      height="60%">
    </v-slider>
    <layer
      :theme="theme"
      :year="year"
      :color="colors[0]"
      :opacity="1 - blend">
    </layer>
    <layer
      :theme="theme2"
      :year="year2"
      :color="colors[1]"
      :opacity="blend">
    </layer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
  <script src="bundle.js"></script>
</body>
</html>
